<html>
<head>
	<meta charset="UTF-8">
	<title>myTwitter</title>
	<!--<link rel="stylesheet" href="css/font-awesome.css">-->
	<link rel="stylesheet" type="text/css" href="css/twitter.css"/>
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="underscore.js"></script>
	<script type="text/javascript" src="backbone.js"></script>
</head>

<body>
	<!-- 导航条 -->
	<div class="navbar over-flow">
		<a href="#" class="logo float-left" style="margin:auto 30px;font-size:25px;color:white;">Bug Funed</a>
		<ul class="nav float-left">
			<li class="home float-left"><a href="#" style="font-size:18px;"><i class="fa fa-home"></i>Home</a></li>
			<li class="float-left"><a href="#" style="font-size:18px;"><i class="fa fa-bell"></i>Report</a></li>
			<li class="float-left"><a href="#" style="font-size:18px;"><i class="fa fa-star"></i>Space</a></li>
		</ul>
		<ul class="nav float-right">
			<li class="cog float-right"><a href="#"><i class="fa fa-cog"></i></a></li>
		</ul>
		<form action="#" class="nav-form float-right">
			<input type="text" class="search-input" style="width:200px;" placeholder="search bug u want...">
		</form>
	</div>
	<!-- 搜索条件 -->
	<div id="search" style="width:100%; height:56px;background-color:#e5e5e5;margin:46px 0px 0px 0px;">
		<table id="sort_table" style="padding:15px 120px;width:50%;height:56px">
			<thead>
				<td style="width:20%;">Sort By:</td>
				<td class="" style=""><a id="scores" href="#">Scores</a></td>
				<td class="" style=""><a href="#">Relevance</a></td>
				<td class="" style=""><a href="#">Views</a></td>
				<td class="" style=""><a id="times" href="#">Time</a></td>
			</thead>
		</table>
	</div>

	<!-- 盛放微博的容器 -->
	<div  class="container" id="buglist" style="margin:6px auto 0;backgroud-color:#fff;" >
		
		
	</div>
	<script type="text/template" id="loadmore">
		<div class="loadmore">
			<a href="#">loadmore...</a>
		</div>
	</script>
	<script type="text/template" id="bugitem">
		<img  src="http://wwwin.cisco.com/dir/photo/std/<%= submiter.uid %>.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="/users/<%= id %>"><%= submiter.name%></a></span>
				<p class="title"><%= title %><br/>&nbsp;<a href="/bugs/<%=id %>" style="color:grey;">details&gt;&gt;</a></p>
				<span class="time"><%= created_at %></span>
				<span class="view"><a href="#" class="link"><img src="./fonts/eye1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;views(<%= views %>)</a></span>
				<span class="heart"><a href="#" class="link"><img src="./fonts/heart1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;(<%= id %>)</a></span>
				<span class="comment"><a href="#" class="link"><img src="./fonts/comment1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;comments(<%= comment_count %>)</a></span>
				<span class="star"><a href="#" class="link"><img src="./fonts/star1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;scores(<%= score %>)</a></span>
				<span class="status link"><%=status%></span>
				<span class="status link"><%=severity%></span>
			</div>
			<div class="clearfix"></div>
	</script>
	<script type="text/javascript">
	
	$(function(){
		function doNice(){
			$(".container .tweet .content .heart").on('mouseover', function (){
				$(this).find('img').attr('src', 'fonts/heart2.gif');
			}).mouseout(function (){
				$(this).find('img').attr('src', 'fonts/heart1.png');
			});
			$(".container .tweet .content .view").mouseover(function (){
				$(this).find('img').attr('src', 'fonts/eye2.png');
			}).mouseout(function (){
				$(this).find('img').attr('src', 'fonts/eye1.png');
			});
			$(".container .tweet .content .star").mouseover(function (){
				$(this).find('img').attr('src', 'fonts/star2.png');
			}).mouseout(function (){
				$(this).find('img').attr('src', 'fonts/star1.png');
			});
			$(".container .tweet .content .comment").mouseover(function (){
				$(this).find('img').attr('src', 'fonts/comment2.png');
			}).mouseout(function (){
				$(this).find('img').attr('src', 'fonts/comment1.png');
			});
			$(".container .tweet .content .up").mouseover(function (){
				$(this).find('img').attr('src', 'fonts/up2.png');
			}).mouseout(function (){
				$(this).find('img').attr('src', 'fonts/up1.png');
			});
		}
		var org = [];
		var org_dump = [];
		var sort_by_score = [];
		$.ajax({
			url: 'http://vm-cvce-um-00e:3000/bugs.json',
			dataType: 'json',
			async: false,
			success: function(data){
				console.log(data);
				for(var i=0; i<data.length; i++){
					org_dump.push(data[i]);
				}
				sort_by_score = data.sort(sortit);
			}
		});
		function sortit(a, b){
			return b.score-a.score;
		}
		$("#scores").click(function (){
			doScore();
		});

		$("#times").click(function (){
			doTime();
		});

		var BugItem = Backbone.View.extend({
			initialize: function(){

			},
			className: 'tweet',
			tagName: 'div',
			initialize: function() {
        		this.template = _.template($("#bugitem").html());
    		},
    		render: function(eventName) {
				$(this.el).html(this.template(this.model));
				return this;
    		}
		});

		var BugListTime = Backbone.View.extend({
			el: '#buglist',
			initialize: function(){
				
			},
			render: function (){
				_.each(org_dump, function(bug){
					var bug = new BugItem({model: bug});
					$(this.el).append(bug.render().el);
				}, this);
				$(this.el).append($("#loadmore").html());
				doNice();
			}
		});
		var BugListScore = Backbone.View.extend({
			el: '#buglist',
			initialize: function(){
				
			},
			render: function (){
				_.each(sort_by_score, function(bug){
					var bug = new BugItem({model: bug});
					$(this.el).append(bug.render().el);
				}, this);
				$(this.el).append($("#loadmore").html());
				doNice();
			}
		});

		function doTime(){
			$("#buglist").html('');
			$("#search").append(new BugListTime().render());
		}

		function doScore(){
			$("#buglist").html('');
			$("#search").append(new BugListScore().render());
		}

		$("#search").append(new BugListTime().render());
	});
	</script>
		
</body>
</html>