  <!--<link rel="stylesheet" href="/css/font-awesome.css">-->
  <link rel="stylesheet" type="text/css" href="/css/twitter.css"/>
  <script type="text/javascript" src="/js/jquery.min.js"></script>

	<!-- 搜索条件 -->
	<div style="width:100%; height:56px;background-color:#e5e5e5;margin:46px 0px 0px 0px;padding: 1px;">
		<table id="sort_table" style="margin:15px 360px;width:50%;height:56px">
			<thead>
				<td style="width:20%;">Sort By:</td>
				<td class="" style=""><a href="#">Scores</a></td>
				<td class="" style=""><a href="#">Relevance</a></td>
				<td class="" style=""><a href="#">Views</a></td>
				<td class="" style=""><a href="#">Time</a></td>
			</thead>
		</table>
	</div>

	<!-- 盛放微博的容器 -->
	<div class="container" style="margin:6px auto 0;backgroud-color:#fff;" >
		<!-- 接下来是15条微博 -->
		<div class="tweet firsttweet">
			<img src="/images/3.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Steve Wozniak</a></span>
				<p>题外话：LZ也是走过一些国家，相比之下，印度应该算最不适宜旅行的国家，主要是基础设施太差，除了火车没什么好选择的交通工具，在不通火车的地方，汽车效率太低，而且很多长途客车喜欢走夜班，增加了安全隐患。但尽管如此，来旅行的人还是趋之若无，谁叫它是四大古国之一呢。总之来印度旅行最好吃苦的准备。 </p>
				
				<span class="time">4分钟前</span>
				<span class="view"><a href="#" class="link"><img src=".//fonts/eye1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;views(10)</a></span>
				<span class="heart"><a href="#" class="link"><img src=".//fonts/heart1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;(10)</a></span>
				<span class="comment"><a href="#" class="link"><img src=".//fonts/comment1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;comments(10)</a></span>
				<span class="star"><a href="#" class="link"><img src=".//fonts/star1.png" style="margin:-2px 0px;height:12px;width:12px;">&nbsp;scores(10)</a></span>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="tweet">
			<img src="/images/15.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Steve Jobs</a></span>
				<p>题外话：LZ也是走过一些国家，相比之下，印度应该算最不适宜旅行的国家，主要是基础设施太差，除了火车没什么好选择的交通工具，在不通火车的地方，汽车效率太低，而且很多长途客车喜欢走夜班，增加了安全隐患。但尽管如此，来旅行的人还是趋之若无，谁叫它是四大古国之一呢。总之来印度旅行最好吃苦的准备。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
	
		<div class="tweet">
			<img src="/images/4.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Bill Gates</a></span>
				<p>言归正转，首先介绍下LZ所走路线我从斯里兰卡科伦坡乘船前往印度Tuticorin港(关于船务信息可查下我写的关于斯里兰卡旅行信息)—Madurai—Chennai—Delhi—Amritsar—Jammu(进入克什米尔)—Srinagar—Kargil—Leh(进入拉达克)—Varanasi—Siligury—Darjeeling—Kolkata—Puri—Koraput—Jagdalpur—Raipur—Gorakhpur—Sunauli(出境进入尼泊尔) </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="tweet">
			<img src="/images/5.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">John Ma</a></span>
				<p>货币及银行：美元对印度卢比1：49，大城市和旅游城市会有货币兑换点，其他地方几乎没有，银联卡无法在印度取款，请备好美元现金或使用带有VISA或万事达标志的信用卡或借记卡取现。印度的ATM取款机有时也会失灵，尤其在偏远的中部山区，拉达克等地，所以如果前往这些地方请务必备足现金。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="tweet">
			<img src="/images/6.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>签证：LZ是在泰国曼谷的印度签证中心办理的，大约总费用400多人民币，5个工作日后出签，不需要什么证明和材料，拿着护照和照片去就行了。一般一次可申请3个月的有效期。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="tweet">
			<img src="/images/7.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>交通：印度城市间往来主要靠火车，我看见很多同学自己提前在网上订票，其实最省事的办法是去位于新德里火车站的INTERNATIONAL TOURIST BUREAU买票，因为那里只卖票给外国人，而且很多紧张车次会对外国旅行者留有部分铺位，你只能在这个地方买的到。加尔各大也有，只不过不在火车站里，其他地方几乎没有专门给外国人售票的地方。火车尽量选择空调3等车厢以上。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/8.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>交通：印度城市间往来主要靠火车，我看见很多同学自己提前在网上订票，其实最省事的办法是去位于新德里火车站的INTERNATIONAL TOURIST BUREAU买票，因为那里只卖票给外国人，而且很多紧张车次会对外国旅行者留有部分铺位，你只能在这个地方买的到。加尔各大也有，只不过不在火车站里，其他地方几乎没有专门给外国人售票的地方。火车尽量选择空调3等车厢以上。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/9.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>交通：印度城市间往来主要靠火车，我看见很多同学自己提前在网上订票，其实最省事的办法是去位于新德里火车站的INTERNATIONAL TOURIST BUREAU买票，因为那里只卖票给外国人，而且很多紧张车次会对外国旅行者留有部分铺位，你只能在这个地方买的到。加尔各大也有，只不过不在火车站里，其他地方几乎没有专门给外国人售票的地方。火车尽量选择空调3等车厢以上。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/12.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>交通：印度城市间往来主要靠火车，我看见很多同学自己提前在网上订票，其实最省事的办法是去位于新德里火车站的INTERNATIONAL TOURIST BUREAU买票，因为那里只卖票给外国人，而且很多紧张车次会对外国旅行者留有部分铺位，你只能在这个地方买的到。加尔各大也有，只不过不在火车站里，其他地方几乎没有专门给外国人售票的地方。火车尽量选择空调3等车厢以上。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/11.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">Jack</a></span>
				<p>交通：印度城市间往来主要靠火车，我看见很多同学自己提前在网上订票，其实最省事的办法是去位于新德里火车站的INTERNATIONAL TOURIST BUREAU买票，因为那里只卖票给外国人，而且很多紧张车次会对外国旅行者留有部分铺位，你只能在这个地方买的到。加尔各大也有，只不过不在火车站里，其他地方几乎没有专门给外国人售票的地方。火车尽量选择空调3等车厢以上。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/10.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">John Ma</a></span>
				<p>货币及银行：美元对印度卢比1：49，大城市和旅游城市会有货币兑换点，其他地方几乎没有，银联卡无法在印度取款，请备好美元现金或使用带有VISA或万事达标志的信用卡或借记卡取现。印度的ATM取款机有时也会失灵，尤其在偏远的中部山区，拉达克等地，所以如果前往这些地方请务必备足现金。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/13.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">John Ma</a></span>
				<p>货币及银行：美元对印度卢比1：49，大城市和旅游城市会有货币兑换点，其他地方几乎没有，银联卡无法在印度取款，请备好美元现金或使用带有VISA或万事达标志的信用卡或借记卡取现。印度的ATM取款机有时也会失灵，尤其在偏远的中部山区，拉达克等地，所以如果前往这些地方请务必备足现金。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/14.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">John Ma</a></span>
				<p>货币及银行：美元对印度卢比1：49，大城市和旅游城市会有货币兑换点，其他地方几乎没有，银联卡无法在印度取款，请备好美元现金或使用带有VISA或万事达标志的信用卡或借记卡取现。印度的ATM取款机有时也会失灵，尤其在偏远的中部山区，拉达克等地，所以如果前往这些地方请务必备足现金。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="tweet">
			<img src="/images/15.jpg" alt="" class="float-left">
			<div class="content float-left">
				<span class="username"><a href="#">John Ma</a></span>
				<p>货币及银行：美元对印度卢比1：49，大城市和旅游城市会有货币兑换点，其他地方几乎没有，银联卡无法在印度取款，请备好美元现金或使用带有VISA或万事达标志的信用卡或借记卡取现。印度的ATM取款机有时也会失灵，尤其在偏远的中部山区，拉达克等地，所以如果前往这些地方请务必备足现金。 </p>
				<span class="time">4分钟前</span>
				<a href="#" class="link">转发(10)</a>
				<a href="#" class="link">评论(35)</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="loadmore">
			<a href="#">加载更多...</a>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		$(".container .tweet .content .heart").mouseover(function (){
			$(this).find('img').attr('src', '/fonts/heart2.gif');
		}).mouseout(function (){
			$(this).find('img').attr('src', '/fonts/heart1.png');
		});
		$(".container .tweet .content .view").mouseover(function (){
			$(this).find('img').attr('src', '/fonts/eye2.png');
		}).mouseout(function (){
			$(this).find('img').attr('src', '/fonts/eye1.png');
		});
		$(".container .tweet .content .star").mouseover(function (){
			$(this).find('img').attr('src', '/fonts/star2.png');
		}).mouseout(function (){
			$(this).find('img').attr('src', '/fonts/star1.png');
		});
		$(".container .tweet .content .comment").mouseover(function (){
			$(this).find('img').attr('src', '/fonts/comment2.png');
		}).mouseout(function (){
			$(this).find('img').attr('src', '/fonts/comment1.png');
		});
		$(".container .tweet .content .up").mouseover(function (){
			$(this).find('img').attr('src', '/fonts/up2.png');
		}).mouseout(function (){
			$(this).find('img').attr('src', '/fonts/up1.png');
		});
	});
	</script>